.header{
    font-family: 'Homemade Apple', cursive;
    color:white;
    font-size:40px;
    font-weight: bold;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px 	violet, 0 0 40px 	violet, 0 0 50px 	violet, 0 0 60px 	violet, 0 0 70px 	violet;
        
    }
  }

.object_finder_input{
    width:300px;
    text-align: center;
    background-color: transparent;
    color:white;
    border:2px white solid;
    font-weight:bold;
    border-radius: 30px;
}

::placeholder{
    color:white;
    font-weight:bold;
}

.object_finder_input:hover{
    box-shadow:white 3px 3px 3px;
    
}

#status{
    color:deeppink;
    font-weight:bold;
}

#start{
    background-color:deepskyblue;
    border:2px white solid;
    color:white;
    font-size:16px;
    border-radius:40px;
}

canvas{
    border-radius:30px;
    box-shadow: white 10px 10px 10px;
}

#info{
    background-color: hotpink;
    float:bottom;
    width:100%;
    position:absolute;
    bottom:10;
    
}

#info h1{
    color:white;
    font-family:  Georgia, Times, 'Times New Roman', serif;
    
}